<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/projet_prod_cons/src/prodcons/v5/TestProdCons.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="prodcons.v5.TestProdCons"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="projet_prod_cons"/>
</launchConfiguration>
